/* Background of the menu page */
.menu {
    background-image: url("./Image/menu.PNG");
    background-size: 100% 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navbar customization */
.navbar {
    background-color: #0f3011;
    border-color: #0f3011;
}
.navbar a {
    color: #FFFFFF !important;
    font-size: 20px;
}
.navbar a:hover {
    font-size: 115% !important;
    font-weight: bold !important;
}
li.current_nav a {
    color: #FFFFFF !important;
}
/* Shifts the menu options to the right of the Navbar */
.list {
    display: flex;
    justify-content: right;
}

/* Text customization */
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    float: left;
    padding-left: 5px;
    padding-top: 2px;
}

h2 {
    color: #FFFFFF;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

h1, h3, h4 {
    color: green;
}

.no-indent {
    font-size: 120%;
}

/* Container to structure the text on the home page */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Carosuel customization */
#pic1, #pic2, #pic3, #pic4,
#pic5, #pic6, #pic7, #pic8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 5000px;
    max-height: 400px;
}

#bg {
    height: 100%;
    width: 100%;
    margin-top: -5%;
}
.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    max-width: 5000px;
    height: 400px;
}
.carousel-control.right, .carousel-control.left {
    color: #000000;
}

/* Menu card customization */
#menu-pic1, #menu-pic2, #menu-pic3, #menu-pic4,
#menu-pic5, #menu-pic6, #menu-pic7, #menu-pic8,
#menu-pic9, #menu-pic10, #menu-pic11, #menu-pic12 {
    width: 50%;
    height:  100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 10px;
}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.2); /* this adds the "card" effect */
    padding: 1px;
    max-width: 100% !important;
    max-height: 100% !important;
    text-align: center;
    background-color: #e3e3e3;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Profile picture customization */
#profile {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90%;
}

.contact {
    text-align: center;
    font-size: 30px;
}

/* Footer customization to hold social media contacts */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}